@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

ul li {
  background: #0e5769;
  padding: 10px;
  margin: 2px;
  text-align: center;
}

ul a {
  font-family: 'montserrat';
  color: white;
  font-size: 1.1em;
  text-decoration: none;
}

ol {
  list-style-type: upper-latin;
  list-style-position: outside;
  color: red;
}

ol li p {
  color: white;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #0e5769;
  font-size: 1em;
  font-weight: 400;
  word-spacing: 3px;
  line-height: 20px;
}

img {
  margin: 10px 0px;
}

/* menu */
.menu {
  padding: 5px;
}

.menu__logo {
  height: 44px;
  width: 280px;
}

.btn-primary:hover {
  background-color: #51cbcf !important;
  color: #123070;
}

/* fondos */
.fondoAzul {
  background-color: #123070;
  padding: 80px 40px;
}

.fondoAzul p {
  color: white;
}

.fondoBlanco {
  padding: 80px 40px;
}

.fondoOpacidad {
  background-color: rgba(0, 0, 0, 0.45);
}

.pregunta {
  font-family: 'Russo One', sans-serif;
  color: #0e5769;
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: underline;
}

/* titulos */
.tituloPrincipal {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.tituloPrincipalOscuro {
  font-family: 'Russo One', sans-serif;
  color: #0e5769;
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.tituloSecundario {
  font-family: 'Russo One', sans-serif;
  color: #0e5769;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 15px;
}

.tituloSecundarioClaro {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 15px;
}

.tituloServicios {
  font-family: 'Russo One', sans-serif;
  color: #0e5769;
  font-size: 1.4em;
  font-weight: normal;
}

/* portada */
.portada {
  background-image: url("../media/portada.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
}

.portada__titulo {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.portada__descripcion {
  color: white;
}

/* servicios */
.servicios {
  padding: 60px 40px;
}

.servicios img {
  background-color: #123070;
  height: auto;
  width: 100%;
}

.servicios p {
  max-width: 300px;
}

.servicios__titulo {
  font-family: 'Russo One', sans-serif;
  color: #0e5769;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 15px;
}

.servicios__tituloServicio {
  font-family: 'Russo One', sans-serif;
  color: #0e5769;
  font-size: 1.4em;
  font-weight: normal;
}

.cajaItems:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  margin-top: 10px;
}

/* quien soy */
.quienSoy {
  background: -webkit-gradient(linear, left top, left bottom, from(#123070), to(#0e5769));
  background: linear-gradient(#123070, #0e5769);
  padding: 60px 40px;
}

.quienSoy__titulo {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 15px;
}

.quienSoy__caja1 {
  padding: 40px 20px 40px 0px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.quienSoy__caja1 p {
  color: white;
}

.quienSoy__caja2 {
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.quienSoy__caja2 img {
  max-width: 100%;
}

/* testimonios */
.testimonios {
  padding: 60px 40px;
}

.testimonios__titulo {
  font-family: 'Russo One', sans-serif;
  color: #0e5769;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 15px;
}

.testimonios__comentarios {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonios__comentarios div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonios__comentarios p {
  max-width: 300px;
}

.fotoTestimonio {
  width: 200px;
}

/* pie de pagina */
.pie {
  background-color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie p {
  color: white;
  font-size: 14px;
}

.pie img {
  height: 40px;
  width: 40px;
}

/* contacto */
.contacto img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.contactoIconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactoIconos div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.formulario {
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formulario div {
  padding: 10px;
}

/* boton flotante */
.botonFlotante {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 400;
}

.botonFlotante img {
  width: 60px;
  height: 60px;
}

/* paginas de servicios */
.descripcionServicios img {
  width: 250px;
}

.beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.beneficios div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.ventajaTitulo {
  padding: 10px;
  margin: 10px 5px;
  background: #0e5769;
  color: white;
}

.ventaja {
  padding: 10px 10px;
}

.preguntasFrecuentes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.preguntasFrecuentes div {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.preguntasFrecuentes p {
  margin-top: 10px;
}

/* Diferentes tamaños */
@media all and (min-width: 480px) {
  .menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu img {
    height: 50px;
    width: 320px;
  }
  .serviciosItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .serviciosItems div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimoniosComentarios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (min-width: 992px) {
  .menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .serviciosItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .quienSoy {
    background-color: #4988F6;
  }
  .testimoniosComentarios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=estilos.css.map */