@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Russo+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
/* menu */
/* portada */
.portada {
  background-image: url("../media/portada.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
}

.portada__titulo {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.portada__descripcion {
  color: white;
}

/* servicios */
.servicios {
  padding: 30px;
}

.servicios img {
  background-color: #123070;
  height: auto;
  width: 100%;
  margin-bottom: 15px;
}

.servicios p {
  max-width: auto;
}

.servicios__titulo {
  font-family: 'Russo One', sans-serif;
  color: #123070;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 15px;
}

.servicios__tituloServicio {
  font-family: 'Russo One', sans-serif;
  color: #123070;
  font-size: 1.4em;
  font-weight: normal;
}

.servicio1 {
  background-color: #d6e9f7;
  min-height: 100%;
}

.servicio2 {
  background-color: #fdf0d4;
  min-height: 100%;
}

.servicio3, .servicio3-extend {
  background-color: #c894ca;
}

.servicio3-extend {
  background-color: #ffe4e4;
  min-height: 100%;
}

/* quien soy */
.quienSoy__titulo {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 0px;
}

.quienSoy__subtitulo {
  font-size: 1.4em;
  font-weight: 600;
}

.quienSoy__caja1 p {
  color: white;
  margin: 10px 0px 1px 0px;
}

.quienSoy__caja2 img {
  max-width: 100%;
}

/* servicios */
.testimonios__titulo {
  font-family: 'Russo One', sans-serif;
  color: #123070;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 15px;
}

.testimonios__subtitulo {
  font-family: 'Russo One', sans-serif;
  color: #123070;
  font-size: 1.4em;
  font-weight: normal;
}

.testimonios__foto {
  width: 200px;
  margin-bottom: 20px;
}

.testimonios__nombre {
  font-family: 'Poppins', sans-serif;
  color: #123070;
  font-size: 1.2em;
  font-weight: normal;
}

.testimonios__tarjeta {
  min-height: 100%;
}

/* boton flotante */
.botonFlotante {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 400;
}

.botonFlotante img {
  width: 60px;
  height: 60px;
}

/* footer */
footer img {
  width: 40px;
  margin: 1px;
}

.seccionOscura__titulo {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.seccionOscura__caja1 p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.05em;
  color: white;
  margin: 10px 0px 1px 0px;
}

.seccionOscura__caja2 img {
  max-width: 100%;
}

.beneficios__titulo {
  font-family: 'Russo One', sans-serif;
  color: #123070;
  font-size: 1.4em;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.beneficios__tarjeta {
  min-height: 100%;
}

.beneficios__ventaja {
  font-family: 'Poppins', sans-serif;
  color: #123070;
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: 15px;
}

.beneficios__descripcion {
  font-family: 'Poppins', sans-serif;
  color: #123070;
  font-size: 1.02em;
  font-weight: normal;
  margin-bottom: 0px;
}

.beneficios__tarjeta:hover {
  background-color: #123070;
}

.beneficios__tarjeta:hover p {
  color: white;
}

.preguntas__titulo {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 1.4em;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.preguntas__pregunta {
  font-family: 'Poppins', sans-serif;
  color: #123070;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0px;
}

.preguntas__respuesta {
  font-family: 'Poppins', sans-serif;
  color: #123070;
  font-size: 1.02em;
  font-weight: normal;
  margin-bottom: 0px;
}

.contacto__titulo {
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 1.4em;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

.contacto__tituloAzul {
  font-family: 'Russo One', sans-serif;
  color: #123070;
  font-size: 1.4em;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

.contacto__tarjeta {
  min-height: 100%;
  background-color: white;
}

.contacto__icono {
  font-family: 'Poppins', sans-serif;
  color: #123070;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 10px;
}

.contacto__subtitulo {
  font-family: 'Poppins', sans-serif;
  color: #123070;
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 8px;
}

.contacto__contacto {
  font-family: 'Poppins', sans-serif;
  color: #123070;
  font-size: 1.02em;
  font-weight: normal;
  margin-bottom: 0px;
}

.contacto__tarjeta:hover {
  background-color: #123070;
}

.contacto__tarjeta:hover p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.fondoOpacidad {
  background-color: rgba(0, 0, 0, 0.45);
}

.degradeOscuro {
  background: -webkit-gradient(linear, left top, left bottom, from(#262727), to(#5e5d5d));
  background: linear-gradient(#262727, #5e5d5d);
}

.degradeAzul {
  background: -webkit-gradient(linear, left top, left bottom, from(#123070), color-stop(#1d4c82), to(#123070));
  background: linear-gradient(#123070, #1d4c82, #123070);
}
/*# sourceMappingURL=estilos.css.map */