*{
    margin:0;
    padding:0;
 }
.fondoOpacidad{
	background-color: rgba(0, 0, 0, 0.45);
}
.degradeOscuro{
    background: linear-gradient(#262727,#5e5d5d);
}
.degradeAzul{
    background: linear-gradient(#123070,#1d4c82,#123070);
}

